/** FOR LH **/
body {
  background-color: #000 !important;
  background-size: 1800px 722px;
}
#content {
  background: url(/img/bg-site.jpg) top center no-repeat #000;
}
h1,
.box-title {
  color:#FFF;
}
.content-wrap {
	padding: 20px 0px;
}
.nopaddingleft {
  padding-left: 0px;
}
#page-menu nav li a {
  font-weight: bold;
  font-size: 18px;
  padding: 0 7px;
}
#page-menu nav li:first-child a {
	padding-left: 0px;
}
#page-menu nav li a:hover,
#page-menu nav li.current a {
	background: none;
	color: #aeb7ba;
}
#page-menu nav {
	float: none;
}
#primary-menu {
  border-top-color: rgba(255,255,255,0.1);
  display: block;
  color: #78868a;
  font-family: "fira-sans",Helvetica,Arial,sans-serif;
  background-color: #606b6f;
  background-image: -webkit-linear-gradient(#606b6f,#78868a);
  background-image: linear-gradient(#606b6f,#78868a);
}
#primary-menu ul li a {
	font-size: 15px;
  background: rgba(0,0,0,.35);
  color: #fff;
  font-weight: 500;
}
#header, #header-wrap,
#logo img,
#primary-menu:not(.style-2),
#primary-menu:not(.style-2) > ul {
	height: auto;
}
#primary-menu.style-2 > div #top-search,
#primary-menu.style-2 > div #top-cart,
#primary-menu.style-2 > div #side-panel-trigger {
	margin-top: 15px;
}
#primary-menu.style-2, #primary-menu.style-2 > div > ul,
#primary-menu.style-2 > div > ul > li > a {
	line-height: 40px;
	height: 40px;
}
.logo img {
  width: 16em;
  height: 1.8em;
  padding: .25em;
}
#page-menu-wrap {
	background-color: #0a0a0a;
}
#primary-menu ul li span {
  display: block;
  padding: 0 .5em;
  color: #0a0a0a;
  font-weight: 700;
  text-shadow: 1px 1px 0 #939ea2;
  text-transform: uppercase;
  font-size: 12px;
  font-size: .75rem;
}
.current {
  background: #0A0A0A;
}


/** scenes **/
#portfolio,
.item-container {
 margin: 0px auto 20px auto;
 padding: 10px;
 background: rgba(0,0,0,.4);
 border-radius: .25em;
 box-shadow: none;
 border: 2px #6c797d solid;
 overflow: hidden;
}
.portfolio-item {
  position: relative;
  float: left;
  width: 24.8%;
  padding: 0 10px 12px 0;
}
.portfolio-desc {
  z-index: 3;
  padding: 10px 5px 5px 10px;
  background: #191c1d;
  border: 0;
  box-shadow: 0 1px 0 #25292b;
  border-radius: 0;
  color: #78868a;
}
.portfolio-desc h3 {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.entry-meta li {
  font-family: Helvetica,Arial,sans-serif;
  font-style: normal;
  margin: 0 10px 0px 0;
}
.entry-meta li a {
  color: #5fa6cc !important;
  font-weight: 600;
  text-decoration: none;
}
.item-basic-info li {
  width: 33.3333%;
  margin:0px;
  padding-left: 15px;
  padding-right: 15px;
}
.item-basic-info li:first-child {
  padding-left: 0px;
  padding-right: 10px;
}
.item-basic-info.dvds li {
  width: 50%;
}
.entry-meta li:before {
  content: none;
}
.portfolio-image .play-button {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 7.5%;
  opacity: 0 !important;
  z-index: 10;
  background: rgba(0,0,0,.7);
}
.hd {
  position: absolute;
  left: .25em;
  bottom: 0;
  display: block;
  width: 2.65em;
  height: 2.65em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-indent: -9999em;
  z-index: 10;
  background-image: url("../img/img-hd.png");
}
.portfolio-image:hover .play-button {
  opacity: 1;
}
.flexslider-custom {
  position: relative;
}
.exclusive {
  border-color: #191c1d;
  background-color: #e51616;
  background-image: -webkit-linear-gradient(bottom,#000 4%,#420606 10%,#9f0f0f);
  background-image: linear-gradient(to top,#000 4%,#420606 10%,#9f0f0f);
  font-size: 12px;
  font-size: .75rem;
  top: auto;
  bottom: 0;
  left: auto;
  right: .25em;
  position: absolute;
  border-radius: .2em;
  position: absolute;
  display: inline-block;
  padding: .25em .5em;
  border-left: 1px #0a0a0a solid;
  border-right: 1px #0a0a0a solid;
  border-top: 1px #0a0a0a solid;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
  font-weight: bold;
}
.btn-primary {
  display: inline-block;
  padding: .4em .75em;
  border-radius: .25em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  font-size: 1rem;
  -webkit-transition: background .1s ease-in,border .1s ease-in,color .1s ease-in;
  -moz-transition: background .1s ease-in,border .1s ease-in,color .1s ease-in;
  transition: background .1s ease-in,border .1s ease-in,color .1s ease-in;
  background: #fff;
  border: 1px #cacfd1 solid;
  box-shadow: none;
  color: #191c1d;
  text-transform: normal;
  background-color: #9c9d9e;
  background-image: -webkit-linear-gradient(#9c9d9e,#f5f9fa);
  background-image: linear-gradient(#9c9d9e,#f5f9fa);
}
.btn-primary:hover {
  color: #191c1d;
  background-color: #9c9d9e;
}
.box-title {
  margin-bottom: 20px;
}
.entry-title {
  color: #fff;
  font-size: 15px;
}
.entry-title p {
  font-size: 15px;
  font-weight: 300;
}
.entry-title h2,
.green {
  color: #42ff00;
}
a.green:hover {
  color: #ffffff;
}
.account-opts {
  display: none !important;
}
.video-top {
  overflow: hidden;
  padding: 5px;
  background: #191c1d;
}
.video-top li {
  padding: 2px 10px;
}

.entry-image {
  margin: 0px;
}
.col_one_fourth {
  margin: 0px 0px 15px;
  padding-right: 7px;
  width: 25%;
}
.col_one_sixth {
  margin: 0px 0px 15px;
  padding-right: 7px;
  width: 16.6666%;
}
.ipost .entry-meta li {
  margin: 0px;
}
.widget {
  margin: 0px;
}
.slide {
  position: relative;
}
.portfolio-single-content {
  margin-bottom: 10px;
}
#comments {
  padding-top: 0px;
  border: none;
  margin-top: 0px;
}
#playerDetail .comments .comment {
  overflow: inherit;
}
.view-page .content-wrap {
  padding: 0px;
}
#playerDetail .inner>div {
  margin: 0px;
}
#page-menu,
#page-menu-wrap {
  margin: -5px 0px -5px;
  height: 50px;
  line-height: 50px;
}
.scenes-list .col-md-6 {
  padding: 4px;
}
.scenes-list .title-wrapper {
  font-size: 15px;
  color: #fff;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.scenes-list .title-wrapper a {
  color: #fff;
}
.scenes-list .hd,
.scenes-list .exclusive {
  display: none;
}
.scenes-list .thumb-wrapper {
  position: relative;
}
.scenes-list .play-button {
  width: 92px;
  position: absolute;
  left: 50%;
  margin-left: -46px;
}
.play-button {
  padding: 12.5% 25%;
  background: rgba(0,0,0,.7);
  display: none;
  position: absolute !important;
  z-index: 10000;
  -webkit-transition: .2s all ease-in;
  -moz-transition: .2s all ease-in;
  transition: .2s all ease-in;
}
.top-banner {
  margin-top: -36px;
  border-top: 0px;
  padding-top: 0px;
  -webkit-border-bottom-right-radius: .25em;
  -webkit-border-bottom-left-radius: .25em;
  -moz-border-radius-bottomright: .25em;
  -moz-border-radius-bottomleft: .25em;
  border-bottom-right-radius: .25em;
  border-bottom-left-radius: .25em;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.ddn {
  display: none;
}
.dvd-box .label {
  text-align: left;
  padding-left: 0px;
}
.sf-js-enabled {
  display: none;
}
#primary-menu {
  background: #000;
}
#top-search form input {
  padding: 0px 80px 10px 0;
  margin-left: 30px;
}
#page-menu .menu-title {
  display: none;
}
.account-opts {
  position: absolute;
  top: 2em;
  left: -1em;
  margin-bottom: 0;
  background: #0a0a0a;
  z-index: 1000;
  height: auto !important;
}
.account-opts li {
  display: block;
  margin: .15em 0;
  text-align: right;
}
.account-opts li a {
  display: inline-block;
  padding: .25em .5em !important;
  border-radius: .2em;
  color: #d8dcdd;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-size: .875rem;
}
.pagination a {
  background: #191c1d;
  border: .1em #313638 solid;
  color: #fff;
}
.pagination li.active span,
.pagination li.disabled span {
  margin: 0px 10px;
  font-size: 26px;
  color: #BBB;
  background-color: rgba(255,255,255,0.1) !important;
  border-color: #666 !important;
  padding: .25em .75em;
  display: block;
  border-radius: 4px;
}
.btn.secondary:hover, .alpha-sorter li a:hover, .pagination a:hover, .btn.secondary:focus, .alpha-sorter li a:focus, .pagination a:focus {
  background: #010202;
  color: #fff;
}
.dvd-scene .label {
  text-align: left;
}
/** new karl **/
.form-cont {
  display: none;
}
.video-form {
  padding-bottom: 0px;
  background: #232323;
  margin-bottom: 10px;
  padding: 2px 5px 0px;
}
.video-form form {
  margin-bottom: 5px;
}
.video-form .form-btn {
  background: transparent;
  border: 0px;
  margin-bottom: 0px;
  width: 100%;
}
.video-form p {
  font-size: 13px;
  line-height: 13px;
  margin: 0px;
  padding: 5px 2px;
  color: #99a0a4;
  font-weight: bold;
}
.video-form .price {
  font-size: 30px;
  width: 60%;
  display: block;
  float: left;
  color: #a3af41;
}
.video-form .duration {
  display: block;
  width: 40%;
  float: left;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  color: #7ecd07;
}
.video-form .radio-cont {
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 50px;
}
.video-form .radio-cont label {
  margin: 0px;
  height: 50px;
  padding: 0px 0px 0px 20px;
}
.video-form .plantype input[type="radio"] {
  top: 0px;
  position: absolute;
  left: 10px;
  margin-top: 21px;
}
.video-form .plantype div {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  padding-top: 2px;
}
.video-form label {
  width: 100%
}
.video-form .payment div.radio {
  padding: 10px;
  margin: 0px;
  color: #fff;
}
.video-form .payment .radio  div {
  color: #fff;
  font-weight: 600;
}
.video-form .radio-cont.active,
.video-form .radio-cont:hover label,
.video-form .radio:hover,
.video-form .radio.active,
.video-form .payment div.radio.active {
  background: #32af02;
}
.video-form h4,
.related-cont h4 {
  background: #191c1d;
  border: 3px solid #313637;
  text-align: center;
  color: #fff;
  margin-bottom: 2px;
}
.related-cont .related-btn {
  width: 100%;
  font-size: 26px;
}
.related-cont .related-thumbs h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
  margin: 0px;
}
.related-cont .related-thumbs h3 a {
  text-overflow: ellipsis;
  width: 100%;
  color: #fff;
  font-size: 15px;
}
.video-form .radio-cont.active .price-cont {
  background: #404040;
  height: 50px;
  color: #fff;
}
.video-form .radio-cont.active .price,
.video-form .radio-cont.active .duration {
 color: #fff;
}
.video-form .form-group {
  background: #000;
  padding: 0px;
  margin: 0px 0px 5px;
}
.video-form .form-control {
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 5px;
}
.navbar {
  background: #0f0f0f;
  overflow: hidden;
  padding-top: 7px;
  margin-bottom: 0px;
}
.navbar-header {
  width: 100%;
  float: none !important;
}
.navbar-nav > li > a {
  padding: 7px 10px 6px;
  color: #000000;
  background: #c4c4c4;
  -webkit-box-shadow:inset 1px 1px 5px 1px #b5b5b5;
  box-shadow:inset 1px 1px 5px 1px #b5b5b5;
}
.navbar-nav > li > a:hover,
.navbar-nav > li.active a {
  background: transparent;
}
.navbar-form {
  margin: 1px 0px 0px;
}
.navbar-collapse.collapse {
  padding: 0px;
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5f5f5 0%, #dbdbdb 50%, #d1d1d1 50%, #dddddd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f5f5f5 0%,#dbdbdb 50%,#d1d1d1 50%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f5f5f5 0%,#dbdbdb 50%,#d1d1d1 50%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
.header-login,
.header-join {
  background: #393939;
  color: #ffffff;
  font-weight: 600;
  padding: 7px 14px;
  margin-top: 2px;
  display: inline-block;
  font-size: 17px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-shadow: 1px 1px 0px #696969;
}
.header-login {
  -webkit-box-shadow:inset 0 -4px 1px 0 #313131;
  box-shadow:inset 0 -4px 1px 0 #313131;
}
.header-join {
  background: #39dc00;
  -webkit-box-shadow:inset 0 -4px 1px 0 #31bb00;
  box-shadow:inset 0 -4px 1px 0 #31bb00;
}
.navbar-brand {
  margin-top: 0px;
  padding: 5px 0px;
}
.navbar-form {
  background: #bcbcbc;
  -webkit-box-shadow:inset 1px 1px 5px 1px #b5b5b5;
  box-shadow:inset 1px 1px 5px 1px #b5b5b5;
}
.navbar-form input {
 height: auto;
 padding: 2px 5px;
 min-width: 200px;
 margin-top: 0px;
 font-weight: 600;
 color: #000 !important;
 background: #FFFFFF;
 margin-bottom: 2px;
}
.navbar-form .search-btn {
  background: transparent;
  border: none;
  color: #fff;
  padding: 0px 2px;
  font-size: 20px;
  margin-top: -3px;
}
a.btn.primary {
  background: #42ff00;
  border-radius: 0px;
  border: 3px solid #313637;
  color: #000;
  text-decoration: underline !important;
  font-weight: bold;
  font-size: 17px;
}
a.btn.primary:hover {
  background: #3EB315;
}
.like-btn,
.dislike-btn,
.playlist-btn {
  background: #000 !important;
  color: #fff !important;
  text-decoration: none !important;
}
.like-btn i {
  color: #3EB315;
}
.thumbs {
  background: #191c1d;
  padding: 10px;
  margin-bottom: 10px;
}
.thumbs .thumb-desc h3 {
  margin: 0px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
}
.thumbs .thumb-desc .date {
  color: #fff;
  font-size: 18px;
}
.thumbs .thumb-desc p {
  margin: 0px;
}
.thumbs .thumb-desc p.green {
  font-size: 20px;
  text-align: center;
}
.thumbs .thumb-desc h3 a {
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.user-actions {
  overflow: hidden;
  background: #191c1d;
  padding: 7px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.content p {
  color: #fff;
}
.content-break {
  background: url('/img/content-break-bg.png') transparent left top no-repeat;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.content-break-header {
  color: #78ff01;
  text-align: center;
  margin: 10px 0px 10px;
}
.content-break ul {
  list-style-image: url('/img/content-break-bullet.png');
  max-width: 150px;
  margin: 0px auto;
  display: block;
}
.content-break ul li {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.content-break a {
  display: block;
  text-align: center;
  padding: 45px 0px 0px;
}
/* test this again*/
footer.content-wrapper {
  background-color: #171717;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

footer .inner {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
footer h3 {
  color: #78ff00 !important;
  font-size: 29px;
  font-weight: normal;
}

.footer-sales {
  color: #FFF;
  margin: 20px 0;
  font-size: 18px;
}

footer .footer-links {
  color: #78ff00;
  display: block;
}

#footer-bottom-links {
  margin-top: 20px;
  text-align: center;
  color: #FFF;
}

#footer-bottom-links a {
  color: #FFF;
}

.footer-girls {
  margin-top: -27px;
}
@media (min-width: 1550px){
  .container {
    width: 1550px;
  }
}
@media (max-width: 991px) {
  a.btn.primary {
    float: none !important;
    margin: 10px auto;
  }
  .box-title {
    font-size: 16px;
    margin-bottom: 10px;
    background: transparent;
    text-align: center;
  }
  footer.content-wrapper {
    padding: 0px 15px;
  }
  footer h3 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
  }
  .footer-sales {
    margin: 10px 0;
    font-size: 15px;
  }
  #page-menu-wrap .container {
    width: 100%;
  }
  #page-menu.pagemenu-active nav {
    display: block;
    width: 100%;
    margin-top: 8px;
  }
  #page-menu nav {
    background-color: #191C1D;
    right: 0px;
  }
  #page-menu nav ul {
    height: auto;
    background-color: rgba(0,0,0,1);
  }
  #page-menu nav li a {
    padding: 0 10px 0 15px;
  }
  #page-menu nav li.logo {
    display: none;
  }
  #page-submenu-trigger {
    right: 0px;
    left: auto;
  }
  #page-menu .menu-title {
    display: block;
    width: 250px;
  }
}

@media (max-width: 767px) {
  .search-btn {
    display: none;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar-brand {
    margin-top: 0px;
    padding: 5px 0px;
    width: 80%;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
  }
  .navbar-nav {
    margin: 0px;
  }
  .navbar-header .pull-right {
    width: 100%;
    text-align: center;
  }
  .container {
    width: 100% !important;
    padding: 0px;
  }
  #content .container {
    position: relative;
    background: #222;
  }
}
@media (max-width: 479px) {
  #top-search form input {
    margin-left: 0px;
  }
}
